#buttons {
    display: flex;
    justify-content: center;
}

#presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}

button {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #2e86c1;
    cursor: pointer;
}

button:hover {
    background-color: #1b4f72;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #2d2d2d;
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilos para os botões */
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button-enviadas {
    background-color: #4CAF50;
}

.button-enviadas:hover {
    background-color: #3e8e41;
}

.button-recebidas {
    background-color: #008CBA;
}

.button-recebidas:hover {
    background-color: #0c7bbd;
}